:root {
  --fast-timing: 0.3s;
  --slow-timing: 0.4s;

  --transition-fast: all var(--fast-timing);
  --transition-slow: all var(--slow-timing);

  --radius-xs: .2rem;
  --radius-sm: .4rem;
  --radius-m: .6rem;
  --radius-l: .8rem;

  --float-bg: linear-gradient(
    to right, rgb(66, 209, 175) 0%, rgb(66, 209, 175) 6.5%,
    transparent 6.5%, transparent 7.5%, rgb(163, 227, 99) 7.5%, rgb(163, 227, 99) 14.5%,
    transparent 14.5%, transparent 15.5%, rgb(255, 187, 84) 15.5%, rgb(255, 187, 84) 37.5%,
    transparent 37.5%, transparent 38.5%, rgb(255, 133, 57) 38.5%, rgb(255, 133, 57) 44.5%,
    transparent 44.5%, transparent 45.5%, rgb(255, 83, 83) 45.5%, rgb(255, 83, 83) 100%
  );

  --fade-bg: linear-gradient(
    to right, rgba(136, 136, 136, 0.41) 0%, rgba(136, 136, 136, 0.41) 0%,
    rgb(223, 207, 173) 0%, rgb(243, 190, 78) 33.65%, rgb(163, 47, 40) 66.35%,
    rgb(36, 55, 141) 100%, rgba(136, 136, 136, 0.41) 100%, rgba(136, 136, 136, 0.41) 100%
  )
}

.font-12-n {
  font: var(--font-12-n);
}
.font-13-n {
  font: var(--font-13-n);
}
.font-14-n {
  font: var(--font-14-n);
}
.font-16-n {
  font: var(--font-16-n);
}
.font-18-n {
  font: var(--font-18-n);
}
.font-12-m {
  font: var(--font-12-m);
}
.font-14-m {
  font: var(--font-14-m);
}
.font-16-m {
  font: var(--font-16-m);
}
.font-18-m {
  font: var(--font-18-m);
}
.font-20-m {
  font: var(--font-20-m);
}
.font-24-m {
  font: var(--font-24-m);
}
.font-20-sb {
  font: var(--font-20-sb);
}
.font-24-sb {
  font: var(--font-24-sb);
}
.font-28-sb {
  font: var(--font-28-sb);
}
.font-32-sb {
  font: var(--font-32-sb);
}
.font-48-sb {
  font: var(--font-48-sb);
}


.bg-surface {
  background: var(--surface);
}
.bg-surface-low-container {
  background: var(--surface-low-container);
}
.bg-surface-container {
  background: var(--surface-container);
}
.bg-surface-high-container {
  background: var(--surface-high-container);
}
.bg-surface-highest-container {
  background: var(--surface-highest-container);
}
.bg-surface-accent-container {
  background: var(--surface-accent-container);
}
.bg-on-surface {
  background: var(--on-surface);
}
.bg-on-surface-secondary {
  background: var(--on-surface-secondary);
}
.bg-on-surface-tretiary {
  background: var(--on-surface-tretiary);
}
.bg-outline {
  background: var(--outline);
}
.bg-outline-variant {
  background: var(--outline-variant);
}
.bg-primary {
  background: var(--primary);
}
.bg-primary-variant {
  background: var(--primary-variant);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-on-secondary {
  background: var(--on-secondary);
}
.bg-tretiary {
  background: var(--tretiary);
}
.bg-on-tretiary {
  background: var(--on-tretiary);
}
.bg-quality-fn {
  background: var(--quality-fn);
}
.bg-quality-mv {
  background: var(--quality-mv);
}
.bg-quality-ft {
  background: var(--quality-ft);
}
.bg-quality-ww {
  background: var(--quality-ww);
}
.bg-phase {
  background: var(--phase);
}
.bg-phase-container {
  background: var(--phase-container);
}
.bg-ruby {
  background: var(--ruby);
}
.bg-ruby-container {
  background: var(--ruby-container);
}
.bg-pearl {
  background: var(--pearl);
}
.bg-pearl-container {
  background: var(--pearl-container);
}
.bg-sapphire {
  background: var(--sapphire);
}
.bg-sapphire-container {
  background: var(--sapphire-container);
}
.bg-emerald {
  background: var(--emerald);
}
.bg-emerald-container {
  background: var(--emerald-container);
}
.bg-attention {
  background: var(--attention);
}
.bg-on-attention {
  background: var(--on-attention);
}
.bg-error {
  background: var(--error);
}
.bg-on-error {
  background: var(--on-error);
}
.bg-best-price {
  background: var(--best-price);
}
.bg-best-price-container {
  background: var(--best-price-container);
}
.bg-good-price {
  background: var(--good-price);
}
.bg-good-price-container {
  background: var(--good-price-container);
}

.color-surface {
  color: var(--surface);
}
.color-surface-low-container {
  color: var(--surface-low-container);
}
.color-surface-container {
  color: var(--surface-container);
}
.color-surface-high-container {
  color: var(--surface-high-container);
}
.color-surface-highest-container {
  color: var(--surface-highest-container);
}
.color-surface-accent-container {
  color: var(--surface-accent-container);
}
.color-on-surface {
  color: var(--on-surface);
}
.color-on-surface-secondary {
  color: var(--on-surface-secondary);
}
.color-on-surface-tretiary {
  color: var(--on-surface-tretiary);
}
.color-outline {
  color: var(--outline);
}
.color-outline-variant {
  color: var(--outline-variant);
}
.color-primary {
  color: var(--primary);
}
.color-primary-variant {
  color: var(--primary-variant);
}
.color-secondary {
  color: var(--secondary);
}
.color-on-secondary {
  color: var(--on-secondary);
}
.color-tretiary {
  color: var(--tretiary);
}
.color-on-tretiary {
  color: var(--on-tretiary);
}
.color-quality-fn {
  color: var(--quality-fn);
}
.color-quality-mv {
  color: var(--quality-mv);
}
.color-quality-ft {
  color: var(--quality-ft);
}
.color-quality-ww {
  color: var(--quality-ww);
}
.color-phase {
  color: var(--phase);
}
.color-phase-container {
  color: var(--phase-container);
}
.color-ruby {
  color: var(--ruby);
}
.color-ruby-container {
  color: var(--ruby-container);
}
.color-pearl {
  color: var(--pearl);
}
.color-pearl-container {
  color: var(--pearl-container);
}
.color-sapphire {
  color: var(--sapphire);
}
.color-sapphire-container {
  color: var(--sapphire-container);
}
.color-emerald {
  color: var(--emerald);
}
.color-emerald-container {
  color: var(--emerald-container);
}
.color-attention {
  color: var(--attention);
}
.color-on-attention {
  color: var(--on-attention);
}
.color-error {
  color: var(--error);
}
.color-on-error {
  color: var(--on-error);
}
.color-best-price {
  color: var(--best-price);
}
.color-best-price-container {
  color: var(--best-price-container);
}
.color-good-price {
  color: var(--good-price);
}
.color-good-price-container {
  color: var(--good-price-container);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-full {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.gap {
  gap: 1.2rem
}
